<div class="row well">
  <div class="col-md-12">
    <form class="form-horizontal" [formGroup]="entryFrom" (ngSubmit)="onSubmit($event)">
      <div class="form-group">

        <div class="row" formGroupName="name">
          <div class="col-md-6">
            <label>First Name</label>
            <input class="form-control" (change)="onChange()" formControlName="first" placeholder="First"></div>

          <div class="col-md-6">
            <label>Last Name</label>
            <input class="form-control" formControlName="last" placeholder="Last"></div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
            <input class="form-control" formControlName="email" placeholder="Email">
            <div *ngIf="entryFrom.controls.email.status=='INVALID'">Error</div>
          </div>

          <div class="col-md-6">
            <label>Gender</label>
            <select class="form-control" formControlName="genderId">
                <option *ngFor="let gender of genders" [value]="gender.code">{{gender.name}}
                  </option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Product</label>
            <select class="form-control" formControlName="productId">
                <option *ngFor="let product of products" [value]="product.code">{{product.name}}
                  </option>
              </select>
          </div>
          <div class="col-md-6">
            <label>Tanggal</label><br>
            <p-calendar  formControlName="DateBirth" [showIcon]="true"></p-calendar>
          </div>
        </div>



      </div>

      <button>Submit</button>
      <button (click)="toast()">Toast</button>
    </form>

    <!--<input #searchItem type="text">
    <button class="btn btn-primary" (click)="klik()">click</button>-->
  </div>
</div>