<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>

                    <div class="card-content">
                        <form>
                            <div [formGroup]="entryForm" class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <!-- <label class="control-label">Company (disabled)</label> -->
                                        <label class="label-reguler">Company (disabled)</label>
                                        <input pInputText pTooltip="Enter your username" tooltipEvent="hover" tooltipPosition="top" type="text" class="form-control"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Username</label>
                                        <input type="text" class="form-control" formControlName="username" placeholder="Username">
                                        <app-validation-form [values]="entryForm.controls.username"></app-validation-form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Email</label>
                                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                        <app-validation-form [values]="entryForm.controls.email"></app-validation-form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Firstname</label>
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Lastname</label>
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Address</label>
                                        <input type="text" class="form-control" placeholder="Address">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Country</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="label-reguler">Postal Code</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right" (click)=klik()>Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                        <img class="img" src="../assets/img/faces/hanafi.jpg" />
                    </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">Web Programmer</h6>
                        <h4 class="card-title">Hanafi Desar</h4>
                        <p class="card-content">
                            If You Are Working On Something That You Really Care About, You Don’t Have To Be Pushed. The Vision Pulls You.”- Steve Jobs
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>