<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Profile</h4>
                        <p class="category">Your profile info</p>
                    </div>

                    <div class="card-content">
                        <form [formGroup]="entryForm">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <!-- <div class="control-label">Company (disabled)</label> -->
                                        <div class="label-reguler">Company (disabled)</div>
                                        <input pInputText pTooltip="Enter your username"  formControlName="company" tooltipEvent="hover" tooltipPosition="top" type="text" class="form-control"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Username</div>
                                        <input type="text" class="form-control" formControlName="username" placeholder="Username">
                                        <app-validation-form [values]="entryForm.controls.username"></app-validation-form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Email</div>
                                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                        <app-validation-form [values]="entryForm.controls.email"></app-validation-form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Firstname</div>
                                        <input type="text" formControlName="firstname" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Lastname</div>
                                        <input type="text" formControlName="lastname" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Address</div>
                                        <input type="text" formControlName="address" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">City</div>
                                        <input type="text" formControlName="city" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Country</div>
                                        <input type="text" formControlName="country" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <div class="label-reguler">Postal Code</div>
                                        <input type="text" formControlName="postalCode" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group form-black label-floating is-empty">
                                            <div class="label-reguler">About Me</div>
                                            <textarea class="form-control" formControlName="aboutMe" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right" (click)=onUpdate()>Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                        <img class="img" src="../assets/img/faces/hanafi.jpg" />
                    </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">Web Programmer</h6>
                        <h4 class="card-title">Hanafi Desar</h4>
                        <p class="card-content">
                            If You Are Working On Something That You Really Care About, You Don’t Have To Be Pushed. The Vision Pulls You.”- Steve Jobs
                        </p>
                        <a class="btn btn-succes btn-round" (click)=onPrint()>Print</a>
                        <a class="btn btn-danger btn-round" (click)=onFollow()>Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>