<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Profile</h4>
                        <p class="category">Profile info</p>
                    </div>

                    <div class="card-content" *ngFor="let experience of experiences" >
                                              
                      <div class="card">
                        <div class="card-header" >
                          <p class="category">
                            {{experience.job}}  ( {{experience.work_start}} - {{experience.work_end}} )
                          </p>
                        </div>
                        <div class="card-content">
                          <div *ngFor="let job_desc of experience.job_desc.split(',')">
                            <p>- {{job_desc}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
